.herder {
    display: flex;
}
.herder a  {
    display:  flex;
    align-items: center;
    text-decoration: none ;
    color: black;
}
.herder logo {
    max-height: 32px;
}
.herder .title-group {
    padding-left: 25px;
}
.herder .title-group i {
    padding-right: 5px;
}